/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #0b181e;
  --ion-text-color: #fff;
  /** primary **/
  --ion-color-primary: #FFA729;
  --ion-color-primary-rgb: 255, 167, 41;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e09324;
  --ion-color-primary-tint: #ffb03e;

  --ion-color-secondary: #4AAFFF;
  --ion-color-secondary-rgb: 74, 175, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #419ae0;
  --ion-color-secondary-tint: #5cb7ff;

  --ion-color-tertiary: #3C464B;
  --ion-color-tertiary-rgb: 60, 70, 75;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #353e42;
  --ion-color-tertiary-tint: #50595d;

  --ion-color-success: #4FE296;
  --ion-color-success-rgb: 79, 226, 150;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #46c784;
  --ion-color-success-tint: #61e5a1;

  --ion-color-warning: #FCF94B;
  --ion-color-warning-rgb: 252, 249, 75;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dedb42;
  --ion-color-warning-tint: #fcfa5d;

  --ion-color-danger: #FF6066;
  --ion-color-danger-rgb: 255, 96, 102;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e0545a;
  --ion-color-danger-tint: #ff7075;

  --ion-color-dark: #0b181e;
  --ion-color-dark-rgb: 11, 24, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0a151a;
  --ion-color-dark-tint: #232f35;

  --ion-color-medium: #6D7478;
  --ion-color-medium-rgb: 109, 116, 120;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #60666a;
  --ion-color-medium-tint: #7c8286;

  --ion-color-light: #9DA3A5;
  --ion-color-light-rgb: 157, 163, 165;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #8a8f91;
  --ion-color-light-tint: #a7acae;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;
}
.ion-color-secondary {
  --ion-color-base: #4AAFFF !important;
}
